@page
@* Mathilda Eriksson DT191G *@
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "Om sidan";
}

<h1 class="display-4">Om sidan</h1>
<h2 class="display-6">Om mig</h2>
<p>Jag som skapat sidan heter Mathilda Eriksson och jag går sista terminen på <a href="https://www.miun.se/utbildning/program/webbutveckling/" target="_blank">Webbutvecklingsprogrammet</a> på Mittuniversitetet.</p>

<h2 class="display-6">Tekniker</h2>
<p>Denna sida har byggts upp med:</p>
<ul>
    <li>ASP.net Core Web Application</li>
    <li>Razor-syntax</li>
    <li>Bootstrap</li>
    <li>Logga genererad av ChatGPT Logo Creator</li>
</ul>

<p>Den JavaScripfunktionalitet som finns är att på startsidan skrivs godmorgon, goddag eller godkväll ut beroende på
    klockslag.</p>