@page
@* Mathilda Eriksson DT191G *@
@model IndexModel
@{
    ViewData["Title"] = "Startsida";
}

<div>
    <div id="timeBasedGreeting" class="display-4"></div>
    <p>Detta är en webbplats för moment 1.1 i kursen DT191G - Webbutveckling med .NET.</p>
    <p></p>
    <p>Jag håller på att lära mig om hur man <a href="https://learn.microsoft.com/aspnet/core">bygger webappar med ASP.NET Core</a>.</p>
</div>
